<nav class="navbar navbar-expand-lg navbar-light mb-3 " style="background-color: #e3f2fd">
  <div class="container">
    <a class="navbar-brand text-success href="#">Productos Disponibles</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class="ml-2">
      <a class="navbar-brand" href="#">
        <img src="<%= image_url(asset_path('cart.svg'))%>" alt="Cart" style="height: 2em" />
      </a>
    </div>
  </div>
</nav>
